@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e0e0e0 transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #acacac;
}

body {
  font-family: 'Poppins', sans-serif;
}
